<%- layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-2">
        <br>
        <h3>Edit Listing</h3>
        <form action="/listings/<%= listing._id %>?_method=PUT" method="POST" novalidate class="needs-validation">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title" class="form-control" value="<%= listing.title %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" class="form-control" required><%= listing.description %></textarea>
                <div class="invalid-feedback">
                    Please provide a description.
                 </div>
            </div>
            <div class="form-group">
                <label for="image">Image URL</label>
                <input type="text" name="image" class="form-control" value="<%= listing.image ? listing.image.url : '' %>" required>

            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" name="price" class="form-control" value="<%= listing.price %>" required>
                <div class="invalid-feedback">
                    Please provide a valid price.
                 </div>
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input type="text" name="location" class="form-control" value="<%= listing.location %>" required>
                <div class="invalid-feedback">
                    Please provide a valid location.
                 </div>
            </div>
            <div class="form-group">
                <label for="country">Country</label>
                <input type="text" name="country" class="form-control" value="<%= listing.country %>"required>
                <div class="invalid-feedback">
                    Please provide a valid country.
                 </div>
            </div>
            <br>
            <button type="submit" class="btn btn-dark mb-4" style="float: right;">Update </button>
        </form>
    </div>
</div>


