<%- layout("/layouts/boilerplate")  %>
<div class="row">
    <div class="col-8 offset-2">
        <br> 
        <h3><%= listing.title %></h3>
    </div>
    <div class="card col-6 offset-2 listing-card">
        <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="Listing_image">
        <div class="card-body">
            <p class="card-text"><i>Owned by: <%= listing.owner.username %></i></p>
                
                <p class="card-text"><%= listing.description %></p>
                <p class="card-text">&#8377; <%= listing.price? listing.price.toLocaleString("en-IN"): "N/A" %></p>
                <p class="card-text"><%= listing.location %></p>
                <p class="card-text"><%= listing.country %></p><br>
            

              <%  if(currUser && currUser._id.equals(listing.owner._id)) { %>     
            <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark mb-3">Edit</a>
            <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST" style="display:inline;">
                <button type="submit" class="btn btn-dark mb-3 center">Delete</button>
            </form>
                
                 <% } %>
        </div>
    </div>
<hr>

<% if(currUser) { %>
    <div class="col-7 offset-2">
        <h5>Leave a Review</h5>
        <form action="/listings/<%= listing._id %>/reviews" method="POST"> 
            <div class="mb-3 mt-3">
                <label for="rating" class="form-label ">Rating</label>
                <input type="range" name="review[rating]" class="form-range" min="1" max="5" required>
            </div>

            <div class="mb-3 mt-3">
                <label for="comment" class="form-label">Comments</label>
                <textarea name="review[comment]" class="form-control" required cols="20" rows="5"></textarea>
            </div>

            <button type="submit" class="btn btn-dark mb-3">Submit</button>
        </form>
        <hr>

<% } %>

        <h5><b>All reviews</b></h5>
        <div class="row">
          <% try { %>
            <% if(listing.reviews.length === 0) { %>
                <p>Be the first one to review !!</p>
            <% } else { %>
                <% for (review of listing.reviews) { %>
                    <div class="card col-5 ms-3 mb-3" style="width: 23rem;" >
                        <div class="card-body">
                            <h5 class="card-title">@<%= review.author.username%></h5>
                            <p class="card-text"> <%= review.comment %></p>
                            <p class="card-text "> <%= review.rating %> stars</p>
                        </div>
                       <% if(currUser && currUser._id.equals(review.author._id)) { %>
                        <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST" >
                            <button type="submit" class="btn btn-dark mb-3">Delete</button>
                        </form>
                   <% } %>
                    </div>
                <% } %>
            <% } %>
        <% } catch (err) { %>
            <p>Error: <%= err.message %></p>
        <% } %>
    </div>
    </div>
</div>






 