<%- layout("/layouts/boilerplate")  %>
<div class="row">
    <div class="col-8 offset-2"> 
        <h3><%= listing.title %></h3>
    </div>
    <div class="card col-6 offset-2">
        <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="Listing_image">
        <div class="card-body">
            <p class="card-text">
                <b></b><br>
                <%= listing.description %><br>
                &#8377; <%= listing.price? listing.price.toLocaleString("en-IN"): "N/A" %><br>
                <%= listing.location %><br>
                <%= listing.country %><br>
            </p>
            <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark mb-3">Edit</a>
            <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST" style="display:inline;">
                <button type="submit" class="btn btn-dark mb-3 center">Delete</button>
            </form>
        </div>
    </div>
<hr>

    <div class="col-7 offset-2">
        <h5>Leave a Review</h5>
        <form action="listings/<%= listings._id/reviews" method="POST">
    <div class="mb-3 mt-3">
        <label for="rating" class="form-label ">Rating</label>
        <input type="range" name="review[rating]" class="form-range" min="1" max="5" required>
    </div>

     <div class="mb-3 mt-3">
        <label for="comment" class="form-label">Comments</label>
        <textarea name="review[comment]" class="form-control" required cols="20" rows="5" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-dark  mb-3">Submit</button>

</div>
</form>
</div>
</div>
